.mainPage {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    padding: 50px;
    // max-height: 300px;
    // max-width: 250px;
}

.mainBox {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: blue;
    min-height: 350px;
    min-width: 200px;
    border: solid 1px black;
    white-space: pre-line
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
}
.button {
    margin: 10px;
    padding: 10px;
}
.inBut {
    display: flex;
    color: blueviolet;
}
.InputResult {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.input {
    height: 20px;
}
// .inRes {
//     // background-color: red;
// }
